:root {
	--white: #FFF;
	--black: #000;
}

html {
	background-color: var(--white);
	color: var(--black);
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
	user-select: none;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	min-height: 100%;
}

main {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: flex-start;
	width: 100%;
	min-height: 100%;
}

main>section {
	padding: 1rem;
}

h1 {
	grid-column: 1 / -1;
	text-align: initial;
	font-size: 200%;
	font-weight: bold;
}

#controls {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.25rem 1rem;
	width: 100%;
}

#controls h2 {
	grid-column: 1 / -1;
}

#preview {
	position: sticky;
	top: 0;
	min-width: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

#preview>figure {
	min-height: 2.5rem;
}

hr {
	grid-column: span 2;
	width: 100%;
	margin: 0;
	border: 0;
	border-top: solid 1px #BBB;
}

#preview>hr {
	flex: none;
	height: 0.5rem;
	border: none;
	cursor: ns-resize;
}

label {
	text-align: right;
	align-self: center;
}

label[title] {
	cursor: help;
}


input[type="file"] {
	width: 100%;
}

.range {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.range>input[type="range"] {
	flex: auto;
	width: 100%;
}

.range>input[type="number"] {
	flex: none;
	width: 0;
	min-width: 4rem;
}

button:disabled,
input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button {
	width: 100%;
}

input,
button {
	font-family: inherit;
	cursor: pointer;
	padding: 0.25rem;
	min-width: 0;
}

details>summary {
	cursor: pointer;
}

figure {
	position: relative;
	border: solid 1px #888;
}

figure>figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--white);
	border: solid 1px #888;
	border-top: 0;
	border-left: 0;
	padding: 0.25rem;
}

figure>div {
	width: 100%;
	height: 100%;
	background-color: #888;
	display: flex;
}

figure>div>img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: auto;
}

canvas,
img {
	image-rendering: pixelated;
	display: block;
}

figure figcaption button {
	width: auto;
}

#output-container canvas {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: auto;
}

#preview-container {
	overflow: auto;
	display: flex;
}

figure canvas {
	margin: auto;
}

.fill {
	grid-column: 1 / -1;
}

.grid {
	position: relative;
	grid-column: 1 / -1;
	height: 50vh;
}

.grid canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

footer {
	position: fixed;
	bottom: 0.25rem;
	right: 1rem;
	font-size: 75%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
footer > * {
	width: auto;
}

dialog {
	color: var(--black);
	background-color: var(--white);
	text-align: initial;
	max-width: 48rem;
}

dialog p:not(:first-child) {
	margin-top: 0.5rem;
}

dialog p:not(:last-child) {
	margin-bottom: 0.5rem;
}

dialog a {
	color: inherit;
	opacity: 0.8;
}

dialog a:visited {
	opacity: 0.6;
}

dialog a:hover {
	opacity: 0.9;
}

dialog a:active {
	opacity: 1.0;
}

dialog ul {
	list-style: initial;
	margin-inline-start: 1rem;
}

dialog::backdrop,
dialog+.backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

dialog+.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

dialog nav {
	width: 100%;
	flex: none;
	display: flex;
	flex-wrap: wrap;
}

dialog nav button {
	margin-inline-start: auto;
	width: auto;
}

kbd {
	display: inline-block;
	border-radius: 0.25rem;
	padding: 0.25rem;
	border: solid 1px var(--black);
}

#toggle-theme {
	font-size: 0;
	color: transparent;
	width: auto;
	margin-inline-end: 0.5rem;
}
#toggle-theme::after {
	content: '🔆';
	font-size: 1rem;
	color: initial;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--white: #000;
	--black: #FFF;
}
:root[data-theme="dark"] #toggle-theme::after {
	content: '🌙';
}
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		color-scheme: dark;
		--white: #000;
		--black: #FFF;
	}
	:root:not([data-theme]) #toggle-theme::after {
		content: '🌙';
	}
}

@media screen and (max-width: 36rem) {
	h1 {
		text-align: center;
		font-size: 125%;
	}

	main {
		display: block;
	}

	#preview {
		height: unset;
		flex-direction: column-reverse;
	}

	#preview>figure {
		flex: none;
	}

	#preview hr {
		display: none;
	}
}
